// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

body {
    background-color: white;

    header, .container-form, footer, .container-create {
        text-align: center;
    }
}

.btn {
    background-color: green;
    color: white;
    margin: 20px 0;
        &:hover{
            background-color: red;
            color: white;
        }
}

.container-postcards {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

    .postcards {
        width: calc(100% / 4 - 10px);
        border: 1px solid black;
        margin-top: 20px;
        text-align: center;

        img {
            width: 100px;
        }
    }
}
